<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">powered by <a href="https://interacto.co/" target="_blank">Interacto</a> un producto <a href="https://www.zentric.com.co/nosotros.php" target="_blank">Zentric</a></span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2025. Todos los derechos reservados.</span>
    </div>
</footer>